# dependencies
node_modules
.pnpm-store

# build output
dist
build

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# TypeScript cache (optional but good)
*.tsbuildinfo

# testing coverage (if you add tests later)
coverage